.chef--container{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}


.chef-img{
    width:100%;
    max-width:550px;
    margin:0 5rem;
}

.chef-heading{
    font-size:3rem;
}

.chef--content{
    width:100%;

}

.chef-quote{
    width:100%;
    margin:50px 0;
    font-size:1rem;
    color:var(--color-grey);
    font-style:italic;
}

.quote-img{
    width:40px;
    margin:10px;
}

.chef-name{
    font-family:var(--font-base);
    font-size:1.5rem;
    color:var(--color-golden);
    margin-bottom:5px;
}

.chef-sign{
    width:200px;
    margin-top:50px;
}




@media screen and (max-width:1150px){
    .chef--container{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .chef-img{
        margin:5rem 0;
    }

}




